/* Note: This Waybar conf is a slightly edited version of this: https://github.com/TheFrankyDoll/win10-style-waybar/tree/main /*
/* It requires the Segoe UI font: https://github.com/mrbvrz/segoe-ui-linux */
/* As well as the JetBrainsMono Nerd Font: https://www.nerdfonts.com/font-downloads */

/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);


/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	font-family: "Segoe UI", "Ubuntu";
	font-weight: 500;
	font-size: 21px;


}

window#waybar {
	background: @bg_main;
	border-top: 1px solid @border_main;
	color: @content_main;
}

tooltip {
	background: @bg_main_tooltip;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: @border_main;
}

tooltip label {
	color: @content_main;
}

#custom-os_button {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 36px;
	padding-left: 16px;
	padding-right: 24px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-os_button:hover {
	background: @bg_hover;
	color: @content_main;
}

#workspaces {
	color: transparent;
	margin-left: 20px;
	margin-right: 20px;
}

#workspaces button {
	padding: 15px;
	color: @content_inactive;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.active {
	color: @content_main;
	border-bottom: 3px solid white;
}

#workspaces button.focused {
	color: @bg_active;
}

#workspaces button.urgent {
	background: rgba(255, 200, 0, 0.35);
	border-bottom: 3px dashed @warning_color;
	color: @warning_color;
}

#workspaces button:hover {
	background: @bg_hover;
	color: @content_main;
}

#taskbar {}

#taskbar button {
	min-width: 250px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 16px;
	padding-right: 16px;
	color: white;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
	background: @bg_active;
}

#taskbar button:hover {
	border-bottom: 3px solid white;
	background: @bg_hover;
	color: @content_main;
}

#cpu,
#disk,
#memory {
	padding: 15px;
}

#window {
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#tray {
	margin-left: 5px;
	margin-right: 5px;
}

#tray > .passive {
	border-bottom: none;
}

#tray > .active {
	border-bottom: 3px solid white;
}

#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}

#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray > widget:hover {
	background: @bg_hover;
}

#pulseaudio {
	font-family: "JetBrainsMono Nerd Font";
	padding-left: 15px;
	padding-right: 10px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#pulseaudio:hover {
	background: @bg_hover;
}

#network {
	padding-left: 15px;
	padding-right: 15px;
}

#language {
	padding-left: 15px;
	padding-right: 15px;
}

#clock {
	padding-right: 15px;
	padding-left: 15px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#clock:hover {
	background: @bg_hover;
}
